/* Headings */

body{
    background: black;
}
.header {
    padding: 30px;
    margin: 0%;
    height: fit-content;
    text-align: center;
    background: #EDDACF;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: regular;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  }

.button {
    background-color: white;
    border: none;
    color: #557571;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 10px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    box-shadow: 10px 10px 8px #000000;
  }


.main {
    max-width: 70%;
    margin: 0 auto;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	background: black;
}

div.image_right{
    padding: 5px;
}

.image_right {
    display: flex;
    float: right;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	color: white;
    width: 85%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.right{
    float: right;
    width: 70%;
    padding: 10px;
}

div.image_left{
    padding: 5px;
}

.image_left {
    display: flex;
    float: left;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	color: white;
    width: 85%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.left{
    float: left;
    width: 70%;
    padding: 10px;
}


span {
    width: 40%;
    padding: 10px;
	font-size: 18px;
	color: white;
    font-style: inherit;
    font-weight: lighter;
	font-family: 'Lato', sans-serif;
}


h1 {
	text-align: center;
	margin: 40px 0 40px;
	font-size: 38px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Lato', sans-serif;
}
h2 {
	text-align: center;
	margin: 40px 0 40px;
	font-size: 26px;
	color: white;
    font-weight: bolder;
	font-family: 'Lato', sans-serif;
}

h3 {
	text-align: left;
	font-size: 18px;
	color: white;
    font-style: inherit;
    font-weight: lighter;
	font-family: 'Lato', sans-serif;
}

h4 {
	text-align: center;
	font-size: 15px;
	color: #EDDACF;
    font-style: italic;
    font-weight: lighter;
	font-family: 'Lato', sans-serif;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
  }

  .a{
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  a:link {
    color: #EDDACF;
  }
  
  /* visited link */
  a:visited {
    color: #EDDACF;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(174, 163, 163);
  }
  
  /* selected link */
  a:active {
    color: #EDDACF;
  }

/* Gallery */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;

}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Footer - icons 
.fa {
    padding: 10px;
    font-size: 20px;
    height: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-envelope {
    background: #7c9ab1;
    color: white;
  } */



